.btnConnect{
    height: 30px;
    width: 120px;
    border: none;
    box-shadow: 0 0 2px black;
    background-color: rgb(34, 232, 34);
    border-radius: 5px;
    color: beige;
}
.btnConnect:hover{
    background-color: rgb(11, 212, 11);
    cursor: pointer;
}